# ########## Huawei Solar Integration - Solar yield ##########
#
# homeassistant:
#   min_version: 2024.10.1
# domain: template sensor
#
# source_url: https://github.com/heinemannj/huawei_solar_hems/blob/main/config/packages/huawei-solar-yield.yaml
#
# repository_name: Huawei Solar HEMS
# repository_description: Home Assistent (HA) Home Energy Management System (HEMS)
# repository_url: https://github.com/heinemannj/huawei_solar_hems
# documentation_url: https://github.com/heinemannj/huawei_solar_hems/wiki
# author: https://github.com/heinemannj
#
# Copyright (c) 2024 Joerg Heinemann
# All rights reserved.
#
# license: https://github.com/heinemannj/huawei_solar_hems/blob/main/LICENSE
#
# ########## Setting for Huawei Solar Integration UPDATE_INTERVAL in const.py ##########
#
# UPDATE_INTERVAL = timedelta(seconds=3)
#
# ########## Entities ##########
#
# - sensor.inverter_input_power_corrected
# - sensor.solar_yield
# - sensor.solar_yield_daily
#
# - sensor.pv_yield_daily
#
# - sensor.batteries_charge_from_grid_energy_total
# - sensor.batteries_charge_from_grid_energy_daily
#
# ########## Start: Persistent Template Sensors ##########
#
template:
  - sensor:
      #
      # Inverter Input Power (with Correction/loss)
      #
      # - for Riemann Integration:
      #   - for real Solar Input Energy (Solar Yield )
      #
      - name: inverter_input_power_corrected
        unique_id: inverter_input_power_corrected
        #friendly_name: "Inverter input power corrected"
        state_class: measurement
        device_class: power
        unit_of_measurement: "W"
        icon: mdi:solar-power
        state: >-
          {# For SUN2000-3-10KTL-M1 (High Current Version) #}
          {# sensor.inverter_efficiency = 100% #}

          {# Check your Input Voltage of connected MPPTs #}
          {# Assuming an Input Voltage above 600 V #}

          {% from '032-emhass.jinja' import globalVariables %}
          {% set var = globalVariables()|from_json %}
          {% set inv_rated_power = states(var.inv_rated_power)|float(0) %}
          {% set inv_in_power = states(var.inv_in_power)|float(0) %}

          {% if inv_in_power < (inv_rated_power * 0.05) %}
            {# inv_in_power < 300 W #}
            {{ (inv_in_power * 1.00)|float(0) }}
          {% elif inv_in_power < (inv_rated_power * 0.1) %}
            {# inv_in_power < 600 W #}
            {{ (inv_in_power * 1.00)|float(0) }}
          {% elif inv_in_power < (inv_rated_power * 0.15) %}
            {# inv_in_power < 900 W #}
            {{ (inv_in_power * 1.00)|float(0) }}
          {% elif inv_in_power < (inv_rated_power * 0.2) %}
            {# inv_in_power < 1200 W #}
            {{ (inv_in_power * 1.00)|float(0) }}
          {% elif inv_in_power < (inv_rated_power * 0.25) %}
            {# inv_in_power < 1500 W #}
            {{ (inv_in_power * 1.00)|float(0) }}
          {% elif inv_in_power < (inv_rated_power * 0.3) %}
            {# inv_in_power < 1800 W #}
            {{ (inv_in_power * 1.0038)|float(0) }}
          {% else %}
            {# inv_in_power >= 1800 W #}
            {{ (inv_in_power * 1.0063)|float(0) }}
          {% endif %}
#
# ########## End: Persistent Template Sensors ##########
#
# ########## Start: Integration Sensors ##########
#
sensor:
  #
  # Solar Yield (with Loss/Correction)
  #
  # - For Production and used in the cards
  #
  - platform: integration
    name: solar_yield
    unique_id: solar_yield
    source: sensor.inverter_input_power
    unit_prefix: k
    method: left
  #
  # Batteries Charge Energy from Grid (with Loss/Correction)
  #
  # - For Production and used in the cards
  #
  - platform: integration
    name: batteries_charge_from_grid_energy_total
    unique_id: batteries_charge_from_grid_energy_total
    source: sensor.batteries_charge_from_grid_power
    unit_prefix: k
    method: left
#
# ########## End: Integration Sensors ##########
#
# ########## Start: Utility Meter Sensors ##########
#
utility_meter:
  #
  # Solar Yield (with Loss/Correction)
  #
  # - For Production and used in the Energy Cards
  #
  solar_yield_daily:
    unique_id: "solar_yield_daily"
    name: "solar_yield_daily"
    # friendly_name: 'solar_yield - Energy daily'
    source: sensor.solar_yield
    cycle: daily
  #
  # Batteries Charge Energy from Grid (with Loss/Correction)
  #
  # - For Production and used in the Energy Cards
  #
  batteries_charge_from_grid_energy_daily:
    unique_id: "batteries_charge_from_grid_energy_daily"
    name: "batteries_charge_from_grid_energy_daily"
    # friendly_name: 'batteries_charge_from_grid - Energy daily'
    source: sensor.batteries_charge_from_grid_energy_total
    cycle: daily
  #
  # PV Yield (New Inverter Register 32108 without Loss/Correction)
  #
  # - For Production and used in the Energy Cards
  #
  pv_yield_daily:
    unique_id: "pv_yield_daily"
    name: "pv_yield_daily"
    # friendly_name: 'pv_yield - Energy daily'
    source: sensor.inverter_total_dc_input_energy
    cycle: daily
#
# ########## Endt: Utility Meter Sensors ##########
