{%- macro globalVariables() %}
    {# 1 x Huawei SUN2000-6KTL-M1 (High Current Version) #}
    {# 1 x Huawei LUNA2000-10-S0 #}
    {# 1 x Huawei LUNA2000-5-S0 #}
    {{- {
            'bat_soc_setpoint_low': 'input_number.batteries_soc_setpoint_low',
            'bat_soc_setpoint_neutral': 'input_number.batteries_soc_setpoint_neutral',
            'bat_soc_setpoint_high': 'input_number.batteries_soc_setpoint_high',
            'bat_soc_setpoint_forcible_charge': 'input_number.batteries_soc_setpoint_forcible_charge',

            'epexspot_quantile_setpoint_low': 'input_number.epexspot_quantile_setpoint_low',
            'epexspot_quantile_setpoint_neutral': 'input_number.epexspot_quantile_setpoint_neutral',
            'epexspot_quantile_setpoint_high': 'input_number.epexspot_quantile_setpoint_high',

            'pv_1_current': 'sensor.inverter_pv_1_current',
            'pv_1_voltage': 'sensor.inverter_pv_1_voltage',
            'pv_2_current': 'sensor.inverter_pv_2_current',
            'pv_2_voltage': 'sensor.inverter_pv_2_voltage',

            'inv_rated_power': 'sensor.inverter_rated_power',
            'inv_max_active_power': 'sensor.inverter_power',

            'inv_in_power': 'sensor.inverter_input_power',
            'inv_active_power': 'sensor.inverter_active_power',
            'grid_active_power': 'sensor.power_meter_active_power',
            'house_power': 'sensor.house_consumption_power',

            'bat_rated_capacity': 'sensor.batteries_rated_capacity',
            'bat_rated_charge_power': 'sensor.batteries_maximum_charge_power',
            'bat_rated_discharge_power': 'sensor.batteries_maximum_discharge_power',

            'bat_in_power_mean_30min': 'sensor.batteries_charge_power_mean_30min',
            'bat_out_power_mean_24h': 'sensor.batteries_discharge_power_mean_24h',

            'bat_soc': 'sensor.batteries_state_of_capacity',

            'pv_yield_total': 'sensor.inverter_total_dc_input_energy',
            'inv_in_grid_total': 'sensor.batteries_charge_from_grid_energy_total',
            'inv_out_total': 'sensor.inverter_total_yield',
            'bat_in_total': 'sensor.batteries_total_charge',
            'bat_out_total': 'sensor.batteries_total_discharge',
            'grid_out_total': 'sensor.power_meter_exported',
            'grid_in_total': 'sensor.power_meter_consumption',

            'pv_yield': 'sensor.pv_yield_daily',

            'inv_in_solar': 'sensor.solar_yield_daily',
            'inv_in_grid': 'sensor.batteries_charge_from_grid_energy_daily',
            'inv_out': 'sensor.inverter_daily_yield',
            'inv_loss': 'sensor.inverter_loss_daily',
            'bat_in': 'sensor.batteries_day_charge',
            'bat_in_with_loss': 'sensor.batteries_day_charge_with_loss',
            'bat_in_loss': 'sensor.batteries_charge_loss_daily',
            'bat_out': 'sensor.batteries_day_discharge',
            'bat_out_with_loss': 'sensor.batteries_day_discharge_with_loss',
            'bat_out_loss': 'sensor.batteries_discharge_loss_daily',
            'grid_out': 'sensor.power_meter_exported_energy_daily',
            'grid_in': 'sensor.power_meter_consumption_energy_daily',

            'grid_active_power_forecast': 'sensor.p_grid_forecast',
            'house_power_forecast': 'sensor.p_load_forecast',
            'inv_active_power_forecast': 'sensor.p_hybrid_inverter',
            'prediction_status': 'sensor.optim_status',

            'house_in_forecast': 'sensor.load_forecast_remaining_today_every_minute',
            'inv_in_solar_forecast': 'sensor.solcast_forecast_remaining_today_every_minute',
            'bat_eoc': 'sensor.batteries_end_of_charge_energy',

            'inv_out_weekly': 'sensor.inverter_yield_weekly',
            'inv_out_monthly': 'sensor.inverter_yield_monthly',
            'inv_out_yearly': 'sensor.inverter_yield_yearly',

            'grid_out_weekly': 'sensor.power_meter_exported_energy_weekly',
            'grid_out_monthly': 'sensor.power_meter_exported_energy_monthly',
            'grid_out_yearly': 'sensor.power_meter_exported_energy_yearly',

            'self_sufficiency_total': 'sensor.house_self_sufficiency_total',
            'self_sufficiency_daily': 'sensor.house_self_sufficiency_daily',

            'rising_time': 'sensor.hems_sun_rising',
            'setting_time': 'sensor.hems_sun_setting',
            'daylight_duration': 'sensor.hems_sun_daylight',
            'solar_noon_time': 'sensor.hems_sun_solar_noon',
            'pv_excess_start_time': 'sensor.hems_sun_pv_excess_start',
            'pv_excess_end_time': 'sensor.hems_sun_pv_excess_end',
            'prediction_end_time': 'sensor.hems_sun_prediction_end',

            'pv_excess_start_rising_offset': 'input_number.hems_sun_pv_excess_start_rising_offset',
            'pv_excess_end_setting_offset': 'input_number.hems_sun_pv_excess_end_setting_offset',
            'prediction_end_setting_offset': 'input_number.hems_sun_prediction_end_setting_offset',

            'epexspot_price': 'sensor.epex_spot_data_price',
            'epexspot_price_1': 'sensor.epex_spot_data_price_3',
            'epexspot_price_2': 'sensor.epex_spot_data_price_1',
            'epexspot_price_3': 'sensor.epex_spot_data_price_2',

            'epexspot_net_price': 'sensor.epex_spot_data_net_price',
            'epexspot_net_price_1': 'sensor.epex_spot_data_net_price_3',
            'epexspot_net_price_2': 'sensor.epex_spot_data_net_price_1',
            'epexspot_net_price_3': 'sensor.epex_spot_data_net_price_2',

            'epexspot_quantile': 'sensor.epex_spot_data_quantile',
            'epexspot_quantile_1': 'sensor.epex_spot_data_quantile_3',
            'epexspot_quantile_2': 'sensor.epex_spot_data_quantile_1',
            'epexspot_quantile_3': 'sensor.epex_spot_data_quantile_2',

            'epexspot_data_update': 'binary_sensor.epex_spot_data_update',

            'solcast_forecast_today': 'sensor.solcast_pv_forecast_prognose_heute',
            'solcast_forecast_tomorrow': 'sensor.solcast_pv_forecast_prognose_fur_morgen',

            'solcast_last_poll_time': 'sensor.solcast_pv_forecast_zuletzt_abgefragte_api',
            'solcast_api_request_limit': 'sensor.solcast_pv_forecast_api_limit',
            'solcast_api_request_used': 'sensor.solcast_pv_forecast_verwendete_api',

            'sg_ready_hp_lock': 'switch.406_wp_sg_ready_evu',
            'sg_ready_pv_excess': 'switch.406_wp_sg_ready_pv_ma'
        }|to_json -}}
{%- endmacro %}
